<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745932327863-lna0m7d1fgl2brtdk7hcsfem8p92nric.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745932327863-lna0m7d1fgl2brtdk7hcsfem8p92nric</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>745932327863-ss1nj56mj5mvjs9muju553fsopdd6d7u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBsrdIagF5gzyHwvi4lGFVrj3wGB-rWqdI</string>
	<key>GCM_SENDER_ID</key>
	<string>745932327863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dimenuto.ios-base</string>
	<key>PROJECT_ID</key>
	<string>app-base-eefc9</string>
	<key>STORAGE_BUCKET</key>
	<string>app-base-eefc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745932327863:ios:b4641bda3ca3f78ae4f632</string>
	<key>DATABASE_URL</key>
	<string>https://app-base-eefc9.firebaseio.com</string>
</dict>
</plist>